@import "tailwindcss";
/* @theme {
  extend: {
    colors: {
      primary: '#2563EB',
      secondary: '#10B981',
    }
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #f3f4f6; /* Tailwind's gray-100 */
}
.container {
    @apply max-w-[1280px] mx-auto w-[96%];
}
.banner_bg {
    background: linear-gradient(
            to bottom,
            rgba(37, 100, 235, 0.4),
            rgba(36, 99, 235, 0.4)
        ),
        url("./assets/banner_bg.jpg");
    background-size: cover;
}
